################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MimDms
bin/
obj/
/packages
/Mim.V4200/.vs/Mim.V6301
/Mim.V3109/.vs/Mim.V6301
